.DS_Store
.classpath
.project
application.properties
application.yml
.settings
.idea
.gradle
.springbeans
server.iml
bin/
build/
npm-debug.log
/src/nbproject/private/
/nbproject/private/
/.nb-gradle/
*.iml
.idea
out/
/gradle/settings.xml